{{ form_start(form) }}
{{ form_widget(form) }}
<div class="input-field col s12 l6">
	<button class="btn btn-large waves-effect waves-light pink lighten-1 col s12" type="submit" name="action">
		Participer
		<i class="material-icons right">euro_symbol</i>
	</button>
</div>
{{ form_end(form) }}
